.mui-bar-nav {
	background-color: #4ccfc7;
}

.mui-table-view-cell:after{
	left: 0;
}

.mui-pull-left {
	color: white;
}

.mui-title {
	color: white;
}

header .mui-title-right{
	font-size: 1rem;
	float: right;
	color: white;
	padding: 12px 10px;
}

.mui-card {
	padding-top: 44px;
	width: 100%;
	margin-left: -0.07rem;
}

.title {
	line-height: 3.2rem;
	float: left;
}

.tupian{
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	float: right;
	overflow: hidden;
}

.tupian img {
	width: 3rem;
	height: 3rem;
}

.cell-right {
	margin-left: 5rem;
	float: right;
	align-content: center;
	color: grey;
	font-size: 0.8rem;
}

.logo{
     margin-top: 3rem;
     height: 10rem;}
.logo2{
	width:8rem;
	height:9rem;
	margin-left: 7rem;
}
.content{
	margin-left: -6rem;
	font-size: 1.5rem;
	font-weight: blod;
	padding-top: 2rem;
	
}

.footer{
	font-size:0.7rem;
	color:grey;
	margin-top: 10rem;
	line-height: 3rem;
	align-content: center;
	padding-left:5rem;
}

.mui-popover .mui-table-view-cell p{
	color: #2ac4bb;
	font-size: 1rem;
}

.mui-popover .mui-table-view-cell{
	color: #2ac4bb;
}
